*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

pre{
    margin: 0;
    text-align: right;
}

.image{
    width: 200px;
    object-fit: cover;
    padding: 5px;
    margin: auto;
    overflow: hidden;
}

.image1{
    object-fit: cover;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.grid-columns{
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.products{
    border: 1px solid #FF9800;
    border-radius: 14px;
    box-shadow: 5px 5px 4px black , -5px -5px 4px black;
    background-color: rgb(179, 178, 178);
}

.single-buybtn input{
    background-color: #FF9800;
    border: black;
    border-radius: 14px;
    padding: 10px;
    transition: .4s;
}

.single-buybtn input:hover{
    background-color: yellow;
    color: blue;
}

.content{
    color: black;
    padding: 20px;
    text-align: center;
}

.content h1{
    font-size: 20px;
    text-transform: capitalize;
}

.content p{
    margin: 0;
}

.content h1,p{
    margin: 0;
}

.discounts1{
    color: green;
    font-weight: bolder;
}

.categories{
    background-color: yellowgreen;
    text-transform: capitalize;
    color: rgb(36, 36, 246);
    font-size: 20px;
    font-weight: bolder;
}


.main-hover .products{
    transition: .4s;
}

.main-hover:hover .products{ 
    box-shadow: 10px 10px 20px gray , -10px -10px 20px gray;
}

.single-hover a{
    color: red;
}

.single-ratings{
    border: none;
    background-color: transparent;
    box-shadow: 2px 2px 5px gray;
}

.single-hover:hover a{
    color: aqua;
}

.image2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image3{
    height: 100px;
    column-gap: 20px;
}

.content1 h1,h2,p,a,i {
    margin: 0;
}

.buydetails{
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buydetails .qty{
    width: 20%;
    height: 20%;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    background-color: white;
}

.prod-desv .cb{
    width: 25%;
    height: 18px;
    accent-color: gray;
    align-self: center;
}

.image3{
    height: 100%;
    row-gap: 20px;
}

.prod-desv{
    width: 75%;
    border: 2px solid rgb(179, 178, 178);
    border-radius: 14px;
    transition: .2s;
}

.prod-desv:hover{
    box-shadow: 5px 5px 4px black , -5px -5px 4px black;
}

.prod-desv .image{
    object-fit: cover;
    padding: 5px;
    margin: auto;
    overflow: hidden;
}

.prod-desv .image img{
    border-radius: 0;
}

.prod-desv .content{
    text-align: left;
}

.prod-desv .content pre{
    text-align: left;
}

.prod-desv .discounts{
    top: 5px;
    left: 5px;
    z-index: 1;
    display: none;
}

.prod-desv:hover .discounts {
    display: block;
}

.prod-desv .cart{
    border-radius: 50%;
}

/* ------------------------------------ Custom Responsive CSS -------------------------------- */

@media (min-width:340px) and (max-width:400px) {
    .products{
        flex-wrap: wrap;
    }
    .image{
        margin: 20px;
    }
    .discounts{
        top: 20px;
        left: 20px;
    }
}

@media (min-width:340px) and (max-width:910px) {
    .media{
        flex-wrap: wrap;
    }
}

@media (min-width:330px) and (max-width:768px) {
    .grid-columns{
        grid-template-columns: repeat(2,1fr);
    }
    .image1{
        transform: translateX(25%);
    }
    .content{
        padding: 10px;
        text-align: left;
    }
    .content h1{
        font-size: 15px;
    }
    .content p{
        color: gray;
    }
    .content pre{
        margin: 0;
        text-align: left;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    .discounts{
        top: 0;
        left: 0;
        display: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .discounts:hover{
        display: block;
    }
    .products{
        background-color: transparent;
        border: none;
        box-shadow: 2px 2px 2px black , -2px -2px 2px black;
    }
    .img{
        background-color: gray;
        border-radius: 14px;
    }
    .single-buybtn{
        font-size: 10px;
    }
    .media-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .media-small{
        width: 150px;
    }
    .media-small img{
        width: 25%;
    }
}

@media (min-width:540px) {
    .media-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .media-small{
        width: 100px;
    }
    .media-small img{
        width: 50%;
    }
}

@media (min-width:980px) {
    .grid-columns , .media-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .grid-columns .prod-desv{
        justify-self: center;
    }
}